NODE_ENV=development
PORT=3002
CLIENT_URL=http://localhost:3001

CTRADER_CLIENT_ID=
CTRADER_CLIENT_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL=
